<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Math Club CSE UAP{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo-container">
                <img src="{% static 'images/Math Club.png' %}" alt="Logo" class="logo">
                <span class="club-name">Math Club CSE</span>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="{% url 'home:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'event:event' %}" class="{% if request.resolver_match.url_name == 'event' %}active{% endif %}">Events</a></li>
                    <li><a href="{% url 'panel:panel' %}" class="{% if request.resolver_match.url_name == 'panel' %}active{% endif %}">Team</a></li>
                    <li><a href="{% url 'formerpresi:formerpresi' %}" class="{% if request.resolver_match.url_name == 'formerpresi' %}active{% endif %}">Former Presidents</a></li>
                    <li><a href="{% url 'gallery:gallery' %}" class="{% if request.resolver_match.url_name == 'gallery' %}active{% endif %}">Gallery</a></li>
                    <li><a href="{% url 'joinus:joinus' %}" class="{% if request.resolver_match.url_name == 'joinus' %}active{% endif %}">Join Us</a></li>
                    <li><a href="{% url 'resource:resource' %}" class="{% if request.resolver_match.url_name == 'resource' %}active{% endif %}">Resources</a></li>
                    <li><a href="{% url 'contact:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav>
            <div class="auth-links">
                <a href="#">Login</a>
                <a href="#">Register</a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer-main">
        <div class="logo-container-2">
                <img src="{% static 'images/Math Club.png' %}" alt="Logo" class="logo-2">
                <img src="{% static 'images/UAP.png' %}" alt="Logo" class="logo-3">
        </div>
        <div class="footer-container">
            <ul class="extra-links">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><a href="{% url 'event:event' %}">Events</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Teams of Use</a></li>
            </ul>
             <ul class="social-links">
                <li>
                    <a href="https://web.facebook.com/mathclub.cse" target="_blank" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <hr>
    <footer class="footer-sub">
        <div class="footer-info">
            <p>© 2026 Math Club All Rights Reserved | Developed by 
                <a href="https://www.facebook.com/Mominrifat09" target="_blank">Momin Ali Rifat</a>
            </p>
        </div>
    </footer>
</body>
</html>
